name: CI/CD

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Defold
        uses: dapetcu21/setup-defold@v3.0.3

      - name: Install Dependencies
        run: deno install

      - name: Generate lua w/ ts-defold
        run: deno run build

      - name: Build
        run: 'java -jar $BOB --root ./app --archive --platform js-web --verbose resolve distclean build bundle'
